<h1>Home#index</h1>
<p>Listing available adverts:</p>
<ul>
<% @adverts.each do |advert| %>
  <li>
  <%= link_to(advert) do %>
  <strong><%= advert.title %></strong> -- <span>Check it out!</span>
  </li>	
  <% end %>
</ul>
<% end %>